@model WebApplication1.Models.AccountModels.LogOnModel
@{
    ViewBag.Title = "LogOn";
}

<h1>Logg inn</h1>

@using (Html.BeginForm()) {
    <text>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <br />
        @Html.LabelFor(m => m.Username)
        @Html.EditorFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
        <br />
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
        <br />
        @Html.EditorFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)
        @Html.ValidationMessageFor(m => m.RememberMe)
        <br />
        <button>Logg på</button>
    </text>
}

