@{
    ViewBag.Title = "Forsiden";
}


<h1>Velkommen til Ingars Movie Database</h1>

<ul>
    <li>
        @Html.ActionLink("Alle filmer", "Index", "Movie")
        (@Html.ActionLink("xml", "Movies", "ImdbApi")/@Html.ActionLink("json", "Movies", "ImdbApi", new { fmt="json" }, null))
    </li>
    <li>
        @Html.ActionLink("Sjangre", "Genres", "Movie")
    </li>
</ul>

<ul>
    <li>
        @Html.ActionLink("Skuespillere", "Actors", "Person")
    </li>
    <li>
        @Html.ActionLink("Produsenter", "Producers", "Person")
    </li>
    <li>
        @Html.ActionLink("Regisører", "Directors", "Person")
    </li>
</ul>

<ul>
    <li>
        @Html.Action("LoginStatus", "Account")
    </li>
</ul>

<ul>
    <li>
        @Html.ActionLink("Administrer filmer", "Index", "Movie", new { area = "Admin" }, null)
    </li>
</ul>

<ul>
    <li>
        @Html.ActionLink("Demo", "Demo", "Home")
    </li>
</ul>

